*{
    text-decoration: None;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}
body{
    background: #212121
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav a{
    color: #fafafa;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}
header nav a:hover:not(.logo, .burger){
    background-color: #d0afd587;
}
.logo{
    flex-grow: 3;
    text-align: left;
    margin-left: 2%;
    text-transform: uppercase;
}
.burger{
    display: none;
}
@media only screen and (max-width: 1024px){
    header nav{
        display: block;
        height: 60px;
        overflow-y: hidden;
        transition: background-color .5s, height .7s linear;
        position: absolute;
        width: 100%;
        z-index: 100;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    header nav.response{
        background: #303030a3;
        height: 100vh;
        
    
    }
    .logo{
        font-size: 1.2rem;
    }
    nav.response .nav-div{
        width: 100%;
        height: 100%;
    }
    .logo, .burger{
        display: inline-block;
    }
    .burger{
        width: 25px;
        float: right;
        cursor: pointer;
    }
    header nav a:not(.logo, .burger){
        max-width: 100%;
        height: 100px;
        display: block;
        font-size: 2rem;
    }
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+  MAIN SECTION  -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
 main{
    height: 89.5vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
main .container{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
main .container h1{
    font-size: 4rem;
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
main .container .info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
main .container .info .info-message{
    flex-basis: 71%;
    color: #c9c9c9;
    margin-bottom: 20px;
}
main .container .info .more-btn{
    width: 100%;
    margin-top: 20px;
}
main .container .info .more-btn a{
    background-color: #d0afd5;
    color: #212121;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 20px;
    transition: color .15s linear, background-color .25s linear;
}
main .container .info .more-btn a:hover{
    background-color:#d0afd587;
    color: #fafafa;
}
main .info .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
main .info .image img{
    width: 150%;
    height: 150%;
    position: absolute;
    top: -20px;
    left: -40px;
}
@media only screen and (max-width: 1024px){
    main .container{
        width: 80%;
    }
}
@media only screen and (max-width: 414px){
    main .container{
        width: 90%;
    }
    main .container h1{
        font-size: 3rem;
        /* background: red; */

    }
    main .container .info{
        flex-direction: column;
        width: 80%;
    }
}
